*,
html {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Helvetica', Arial, sans-serif;
	background: 
}
#nav {
	color: black;
	align-items: center;
	justify-content: center;
	display: flex;
	position: fixed;
	width: 100%;
	height: 100px;
	box-shadow: 1px 1px 8px grey;
	filter: clur(8px);
}
#iconnav {
	position: fixed;
	justify-content: flex-start;
	left: 20px;
}
#nav>ul {
	display: flex;
	width: 95%;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}
#nav>ul>li {
	list-style-type: none;
	color: black;
	cursor: pointer;
	margin: 0 5px;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: bold;
}
#nav>ul>li:hover {
	background-color: #0cb189;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}
#content1 {
	border: solid 1px;
	padding-top: 15%;
	justify-content: center;
	align-items: center;
	display: flex;
}
@keyframes anim {
	0% {background-color: #0cb189}
	25% {background-color: cadetblue}
	50% {background-color: #0cb189}
	75% {background-color: cadetblue}
	100% {background-color: #0cb189}
}
#footer {
	border: solid 1px;
}